nav {
    height: 135px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 2;
}
.navspan {
    width: 200px;
    height: 200px;
    display: block;
    float: left;
    background-color: rgb(12, 8, 6);
    margin-left: 150px;
    position: relative;
}
.navimg {
    margin-left: 25px;
    margin-top: 25px;
    width: 150px;
    height: 150px;
}
nav > ul {
    list-style: none;
    height: 60px;
    width: 840px;
    padding: 0px;
    margin: 40px 0px 0px 0px;
    float: left;
}
 nav > ul > li {
    float: left;
    margin: 0px 30px;
    width: 150px;
    height: 60px;
}
nav {
    min-width: 1440px;
    background-color: rgb(12, 8, 6);
    position: fixed;
    top: 0px;
    left: 0px;
}
a > .pb {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
}
.liNav:hover .pb {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 10px;
}
a > .ps {
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-align: center;
}
.liNav:hover .ps {
    color: rgb(255, 255, 255);
display: none;
}
ul {
    list-style: none;
}
span > p {
    margin: 0px;
    color: white;
}
#contatbox {
    display: block;
    float: right;
    width:200px;
    margin: 37px 0px;
}
header{
    width: 100%;
    height: 600px;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    margin-top: 138px;
    min-width: 1440px;
  }
.contatimg{
    width: 60px;
    height: 60px;
    float: left;
}
.perfil {
    height: 580px;
    width: 580px;
    margin: 10px;
    float: left;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.8);
}
.perfilimg {
    width:250px;
    height: 250px;
    float: left;
    margin-top: 60px;
    margin-left: 40px;
}
.psideimg1{
    width: 250px;
    height: 80px;
    margin: 60px 300px 0px ;
    font-family: title;
    color: rgb(247, 148, 2);
    font-size: 50px;
    text-align: center;
    text-shadow: rgb(160, 160, 160) 0 0 1.0em 
}
.psideimg2{
    width: 200px;
    height: 150px;
    margin: 30px 320px 5px ;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-transform: uppercase;
}
.pbottonimg{
    width: 480px;
    height: 120px;
    margin-left: 40px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-transform: uppercase;
}
.curriculumaddon > div {
    width: 50px;
    height: 50px;
    float: left;
    margin:0px 5px 10px;
}
.curriculumaddon > div > img {
    width: 50px;
    height: 50px;
}
.curriculumaddon {
    width: 242px;
    margin: 20px auto;
}
#contatname {
    font-weight: bold;
}
#flag:hover {
    width: 70px;
    height: 70px;
    position: relative;
    right: 10px;
    bottom: 10px;
}
#gear:hover {
    width: 70px;
    height: 70px;
    position: relative;
    right: 10px;
    bottom: 10px;
}
#circ:hover {
    width: 70px;
    height: 70px;
    position: relative;
    right: 10px;
    bottom: 10px;
}
#flag:hover {
    width: 70px;
    height: 70px;
    position: relative;
    right: 10px;
    bottom: 10px;
}
#real:hover {
    width: 70px;
    height: 70px;
    position: relative;
    right: 10px;
    bottom: 10px;
}
@font-face {
    font-family: title;
    src: url(../Fonts/title.ttf);
}

#ulcircle{
    float: right;
    width: 960px;
    height: 300px;
    margin: 50px 20px;
    padding: 0px;
}
.circle {
    width: 140px;
    height: 140px;
    float: left;
}
#myCarousel {
    height: 140px;
    width: 424px;
    margin: 0 auto;
}
#projetshow {
    margin-top: 3px;
    background-color: rgb(12, 8, 6);
    height: 700px;
}
.d1 {
    background-image: url(../Imgs/circle1.png);
    background-size: 100%;
}
.d2 {
    background-image: url(../Imgs/circle2.png);
    background-size: 100%;
}
.d3 {
    background-image: url(../Imgs/circle3.png);
    background-size: 100%;
}
.democircle {
    width: 140px;
    height: 140px;
    float: left;
    margin: 10px;
}
.democircle:hover {
cursor: pointer;
}
.header_C1 {
    background-color: red;
}
.header_C2 {
    background-color:  #FFBB00;
}
.header_C3 {
    background-color: #88FF00;
}
.header_C4 {
    background-color: #00FFFF;
}
.header_C5 {
    background-color: #8400FF;
}
.header_C6 {
    background-color: #FF0080;
}
.cActive {
    width: 160px;
    height: 160px;
    margin: 0px;
    position: relative;
    bottom: 10px;
    right: 10px;
}
.carousel-sm-r {
    width: 100px;
    height: 100px;
    position: relative;
    top: 20px;
    right: 30px;
    opacity: 0.6;
    z-index: 0;
    float: left;
}
.carousel-sm-l {
    width: 100px;
    height: 100px;
    position: relative;
    top: 20px;
    left: 30px;
    opacity: 0.6;
    z-index: 0;
    float: left;
}
.carousel-bg {
    width: 140px;
    height: 140px;
    position: relative;
    z-index: 1;
    float: left;
}
#myCarousel > ul {
    height: 140px;
    width: 340px;
    float: left;
    padding: 0px;
}
#programDescription {
    width: 800px;
    height: 300px;
    margin: 20px auto;
    text-align: center;
}
.bt-carousel {
    width: 40px;
    height: 40px;
    margin-top: 50px;
    padding: 0px;
}
@media screen and (max-width:1600px) and (min-width:600px) {
    .democircle {
        width: 100px;
        height: 100px;
        float: left;
        margin: 10px;
    }
    #ulcircle{
        float: right;
        width: 720px;
        height: 300px;
        margin: 50px 20px;
        padding: 0px;
    }
    .circle {
        width: 100px;
        height: 100px;
        float: left;
    }
    .cActive {
        width: 120px;
        height: 120px;
        margin: 0px;
        position: relative;
        bottom: 10px;
        right: 10px;
    }
}